* {
    font-family: monospace;
}
body {
    background-color: black;
}

p {
    color: white;
    font-size: 25px;
}
h1 {
    color: white;
    font-size: 45px;
}

/* Topbar */
.topbar {
    padding: 0px;
    margin: 0px;
    height: 48px;
    background-color: rgb(63, 63, 63);
}
.topbarBtn {
    font-size: 24px;

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 12px;
    padding-right: 12px;

    margin: 0px;

    height: 48px;
    background-color: rgb(63, 63, 63);
    border: 0px;
    color: rgb(255, 255, 255);
}
.topbarBtn:hover {
    background-color: rgb(127, 127, 127);
}

/* Extra */
a:link, a:visited {
    color: rgb(0, 127, 255);
}
a:hover {
    color: rgb(0, 192, 255);
}
