* {
    font-family: monospace;
}
body {
    background-color: black;
}

p {
    color: white;
    font-size: 25px;
}
h1 {
    color: white;
    font-size: 45px;
}

a:link, a:visited {
    color: rgb(0, 127, 255);
}
a:hover {
    color: rgb(0, 192, 255);
}
